.body-mdf {
    font-family: 'Fira Sans', "PT Sans", sans-serif;
    background-image: url("../graphics/body-background.png");
    background-position: center center;
  }

.dd {
    margin-top: 150px;
    max-height: 800px;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.image {
    max-width: 90%;
}

.mmd {
    text-align: center;
}

.message {
    color: #fff;
    text-align: center;
    font-size: 3vw;
}