.body-mdf {
  font-family: 'Fira Sans', "PT Sans", sans-serif;
  background-color: #ffffff;
}

/* ================= Sign  up / Sign In ================= */

.sign {
  background-image: url(../graphics/form-background.png);
  background-size: cover;
  border: 1px solid #cdd4da;
  border-radius: 8px;
  margin: 300px auto;
  padding: 30px;
  max-width: 500px;
  box-shadow: -2px -2px 50px 15px rgba(0, 0, 0, 0.2);
}

.sign-body {
  background-image: url("../graphics/body-background.png");
  background-position: center center;
}

.submit {
  width: 100%;
}
.form-control:focus {
  outline: none;
  border-bottom: 3px solid #00862d;
}
.form-control:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.mssg {
  color: #FF1F00;
}