
.card.shadow-sm.px-3.border-0.rounded-0.mb-3
    .row
        .col-12
            a.btn.btn-link.btn-sm.text-dark(href=`/mon-agence/${user._id}`)
                i.fas.fa-store
                span.ml-2 Profile
                
        .col-12.border-top.border-bottom
            a.btn.btn-link.btn-sm.text-dark(href=`/mon-agence/${user._id}/parametres`)
                i.fas.fa-sliders-h
                span.ml-2 Paramètres
                
        .col-12
            a.btn.btn-link.btn-sm.text-dark(href=`/mon-agence/${user._id}/ajouter`)
                i.fas.fa-plus
                span.ml-2 Ajouter
                        