.bg-dark.p-3
    .container
        .row
            .col-lg-3.col-md-6
                .row
                    .col-12
                        a(href="/")
                            img(src="/../graphics/logo-white.png", width="60px" alt="Kauto.ma")
                    .col-12
                        .fn-20.text-white Kauto.ma
            .col-lg-3.col-md-6
                .row
                    .col-12
                        a.text-white.text-decoration-none.fn-13(href="/a-propos-de-nous") À propos de nous
                    .col-12
                        a.text-white.text-decoration-none.fn-13(href="/Comment-nous-fonctionnons") Comment nous fonctionnons
                    .col-12
                        a.text-white.text-decoration-none.fn-13(href="/Nous-contacter") Nous contacter
            .col-lg-3.col-md-6
                .row
                    .col-12
                        a.text-white.text-decoration-none.fn-13(href="/privacy-policy") Politique de confidentialité
                    .col-12
                        a.text-white.text-decoration-none.fn-13(href="/terms-and-conditions") Termes et conditions
                    .col-12
                        a.text-white.text-decoration-none.fn-13(href="/avertissement") Avertissement
                        
            .col-lg-3.col-md-6
                .fn-22.text-right
                    a.text-white.text-decoration-none(href="https://www.facebook.com/Kautoma-102663774779742")
                        i.fab.fa-facebook-f
                    a.text-white.text-decoration-none.mx-2(href="https://www.instagram.com/kauto.ma/")
                        i.fab.fa-instagram.mx-3
                    a.text-white.text-decoration-none(href="https://www.youtube.com/channel/UC3yfkwMk934LuXie-56S7tQ")
                        i.fab.fa-youtube
.list-group-item-dark.p-3.text-white.scrl-v.h-3
    .container
        span.fn-13.text-dark.font-weight-bold marque
        .row#list-brands
        span.fn-13.text-dark.font-weight-bold villes
        .row#list-cities