
.card.shadow-sm.p-3.border-0.rounded-0.mb-3
    .row
        .col-12.mb-2
            a.btn.btn-link.btn-sm.text-dark(href="/a-propos-de-nous") À propos de nous
        .col-12.mb-2
            a.btn.btn-link.btn-sm.text-dark(href="/Comment-nous-fonctionnons") Comment nous fonctionnons
        .col-12.mb-2
            a.btn.btn-link.btn-sm.text-dark(href="/Nous-contacter") Nous contacter
        .col-12.mb-2
            a.btn.btn-link.btn-sm.text-dark(href="/privacy-policy") Politique de confidentialité
        .col-12.mb-2
            a.btn.btn-link.btn-sm.text-dark(href="/terms-and-conditions") Termes et conditions
        .col-12.mb-2
            a.btn.btn-link.btn-sm.text-dark(href="/avertissement") Avertissement
                        