
.card.shadow-sm.px-3.border-0.rounded-0.mb-3
    .row
        .col-12
            a.btn.btn-link.btn-sm.text-dark(href=`/utilisateur/${user._id}/favoris`)
                i.fas.fa-heart
                span.ml-2 Favoris
                
        .col-12.border-top.border-bottom
            a.btn.btn-link.btn-sm.text-dark(href=`/utilisateur/${user._id}/commentaires`)
                i.fas.fa-comments
                span.ml-2 Commentaires

        .col-12
            a.btn.btn-link.btn-sm.text-dark(href=`/utilisateur/${user._id}`)
                i.fas.fa-user
                span.ml-2 Profile
                        