extends base

block append footer
    script(src="/../js/newPassword.js")


block content
    section.container
        .text-center.my-5.bg-white.p-5.w-max-0.mx-auto.shadow-sm
            .w-100
                i.fas.fa-check-circle.fa-2x.text-success
            span.fn-15.text-success.w-100 Code confirmé
            form(action=`/reinitialiser-mot-de-passe/${token}` method="post").mt-3
                .form-group
                    input.form-control.rounded-0(type="password" id="password" name="password" placeholder="tapez un nouveau mot de passe")
                .form-group
                    input.form-control.rounded-0(type="password" id="repassword" name="repassword" placeholder="confirmez le nouveau mot de passe")
                button.btn.btn-primary.w-100.rounded-0(id="new-password" type="sumbit") Mise à jour