extends base

block append footer
    script(src="/../js/resetPassword.js")

block content
    - var messages = getMessages()
    if (messages.message)
        section.text-center.fixed-top.w-max-0.mx-auto.text-white
            .alert.bg-danger.alert-dismissible.fade.show.rounded-0(role="alert")
                i.fas.fa-times-circle
                span.ml-2.my-auto= messages.message
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;

    section.container
        .text-center.my-5.bg-white.p-5.w-max-0.mx-auto.shadow-sm
            a(href="/")
                img.mb-3(src="/../graphics/logo.png" width="70px" alt="Kauto.ma")
            form(action="/reinitialiser-mot-de-passe" method="post")
            
                p.fn-23 Besoin d'aide?
                p Saisissez l'e-mail que vous utilisez sur KAUTO et nous vous aiderons à créer un nouveau mot de passe.

                .form-group
                    -var email = messages.email || ""
                    input.form-control.rounded-0(type="text" name="email" id="email" placeholder="vous@exemple.com" value=`${email}`)

                button.btn.btn-primary.w-100.rounded-0(type="submit" id="reset") Réinitialiser
                .my-2
                    a.text-decoration-none(href="/se-connecter") Retour pour se connecter.