extends base

block append footer
    script(src="/../js/userChangePass.js")

block content
    - var messages = getMessages()
    if (messages.message)
        section.text-center.fixed-top.w-max-1.mx-auto.text-white
            .alert.bg-danger.alert-dismissible.fade.show.rounded-0(role="alert")
                i.fas.fa-times-circle
                span.ml-2.my-auto= messages.message
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
    include _header
    .container
        .row.mt-3
            .col-lg-3.col-md-3
                include _usrban
            .col-lg-9.col-md-9
                .p-3.bg-white.shadow-sm
                    form(action=`/utilisateur/${user._id}/changer-le-mot-de-passe`, method="post")
                        .form-group
                            input.form-control.rounded-0(type="password" id="password" name="password" placeholder="tapez un mot de passe")
                        .form-group
                            input.form-control.rounded-0(type="password" id="repassword" name="repassword" placeholder="confirmez le mot de passe")
                        button.btn.btn-primary.rounded-0(id="enregistrer" type="sumbit") Enregistrer
            .col-12
                include _recommende
    .text-center.fixed-bottom.mb-3#copy
        small.text-muted &copy; 2020 Kauto.ma
        