.body-mdf {
    font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;
}


.the-profile {
    width: 81px;
    height: 81px;
    border: 1px solid #9c9c9d;
    border-radius: 40px;
    background-image: url('../graphics/user.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.the-profile:focus {
    outline: none;
}

.the-profile:hover {
    background-color: #f7f9fa;
    transition: 0.4s ease;
}